.search-bar {
  text-align: center;
  background-color: var(--header-color);
  height: 75px;
  margin: auto;
}

.search-bar-form {
  display: flex;
  margin: auto;
}
.inv-labels {
  display: none;
}
.class-search-input {
  font-size: 26px;
}

.submit-button {
  font-size: 26px;
}

.search-label,
.search-bar-label {
  display: none;
}

.submit-button-icon {
  color: var(--header-color);
}
