.header {
  background-color: var(--header-color);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  position: sticky;
}

.logo {
  margin: auto;
}

.sign-in-button-div {
  display: flex;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-content: flex-end;
  min-width: 200px;
}
.sign-in-button {
  font-size: 26px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 5px;
}

.logo-div {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: flex-start;
}

.home-page-link {
  all: unset;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.search-bar {
  display: flex;
  margin: auto;
  grid-column-start: 2;
  grid-column-end: 3;
}

.home-page-link :hover {
  cursor: pointer;
}

.info-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 50vw;
}
