.page-title {
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.review-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.no-review {
  text-align: center;
}

.write-a-review-link {
  text-decoration: none;
  color: var(--grey);
}
.write-a-review-button {
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

.button-div {
  display: flex;
  margin: auto;
}
